*.tlog

*.pyc

*.log

*.suo

*.lock

*.user

*.VC.db-wal

*.VC.db

*.VC.db-shm

*.VC.opendb

*.userosscache

*.sln.docstates

*.ipch

*.pch

*.vspscc

*.vssscc

*.vsidx

*.db

*.obj

*.idb

*.pdb

*.ilk

*.exe

*.recipe
