*.tlog

*.pyc

*.log

*.suo

*.lock

*.user

*.VC.db-wal

*.VC.db

*.VC.db-shm

*.VC.opendb

*.userosscache

*.sln.docstates

*.ipch

*.pch

*.vspscc

*.vssscc

*.vsidx

*.db

*.obj

*.idb

*.pdb

*.ilk

02-Bubble/02-Bubble/Debug/super_barrio.exe.recipe

*.exe

